@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: $background-color;
  font-family: 'Source Sans Pro', sans-serif;
  color: $font-color;
  width: 700px;

}
.container{
  padding: 2rem;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin: 1% 0 3%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .col-3 {
    width: 25%;
    height: 100px;
    padding: 10px;
  }
}


@media (max-width: 768px) {
  body {
    width: 600px;
  }

  .row{
    .col-3{
      width: 50%;
    }
  }

}

@media (max-width: 480px) {
  body {
    width: 500px;
  }

  .row{
    .col-3{
      width: 100%;
    }
  }

}

.text-center{
  text-align: center;
}
